body {
    margin: 0;
}
.container {
    width: 100vmin;
    height: 50vmin;
    background-color: lightblue;
}
.block1 {
    display: inline-block;
    width: 5vmin;
    height: 10vmin;
    margin: 5vmin;
    background-color: white;
}
.block2 {
    display: inline-block;
    width: 5vmin;
    height: 10vmin;
    background-color: white;
}
.block3 {
    display: inline-block;
    width: 5vmin;
    height: 10vmin;
    background-color: white;
}
.block4 {
    display: inline-block;
    width: 5vmin;
    height: 10vmin;
    background-color: white;
}
.block5 {
    display: inline-block;
    width: 5vmin;
    height: 10vmin;
    background-color: white;
}