div {
	width: 500px;
	background-color: #F8F8FF;
	padding: 5px 10px;
}
h4 {
	color: #8b0000;
	text-align: right;
	text-transform: uppercase;
}
p {
	font-family: arial;
	text-align: right;
}