body {
	margin: 0;
	padding: 0;
}
div {
	width: 280px;
	min-height: 280px;
	padding: 10px;
	font-family: Open Sans;
	font-size: 12px;
	/*line-height: 1.4;*/
	text-transform: uppercase;
	font-weight: bold;
}
.main-menu {
	width: 170px;
	padding: 0;
	list-style: none;
}
.main-menu a {
    display: block;
    color: black;
    padding: 5px 10px;
    margin-top: 5px;
    text-decoration: none;
}
.main-menu a:hover {
	color: white;
    background: #f08080;
}
.main-menu .active a {
    color: white;
    background: #f08080;
}
